[file_format]
encoding = "utf-16"
delimiter = "\t"
description = "Standard iTrack table export format (December 2025)"

[sprint_schedule]
duration_days = 14
start_weekday = 3
end_weekday = 2
cycle_name = "Thursday-to-Wednesday"
calendar_file = "sprint_calendar.csv"
auto_detect_sprint = true

[sprint_capacity]
max_hours = 52
warning_hours = 45
capacity_percentage = 65

[tat_thresholds]
ir_days = 0.8
sr_days = 22
warning_percent = 75

[column_mapping]
"Ticket ID" = "Parent ID"
"Task ID" = "Task"
"Task Type Assigned" = "Task Type"
Section = "Team"
Task_Owner = "Assignee"
Task_Ownerteam = "Task Owner Team"
Ticket_Ownerteam = "Ticket Owner Team"
Ticket_Createdby = "Ticket Creator"
Task_Status = "Status"
Ticket_Status = "Ticket Status"
Ticket_Subject = "Subject"
Incidentnumber = "Incident Number"
Profilefullname = "Customer Name"
Task_Assigned_DateTime = "Task Assigned Date"
Task_Created_DateTime = "Task Created Date"
Task_Resolveddatetime = "Task Resolved Date"
Ticket_Createddatetime = "Ticket Created Date"
Ticket_Resolveddatetime = "Ticket Resolved Date"
Ticket_Totaltimespent = "Ticket Total Time Spent"
Task_Minutesspent_From_Worklog = "Task Minutes Spent"

[default_values]
Team = "PIBIDS"

[validation]
required_columns = [ "Ticket ID", "Task ID", "Task_Status", "Task_Owner", "Ticket_Subject", "Task_Assigned_DateTime",]

[sprint_schema_mapping]
Task = "TaskNum"
"Parent ID" = "TicketNum"
Status = "Status"
Assignee = "AssignedTo"
Subject = "Subject"
Team = "Section"
"Task Assigned Date" = "TaskAssignedDt"
"Task Created Date" = "TaskCreatedDt"
"Task Resolved Date" = "TaskResolvedDt"
"Ticket Created Date" = "TicketCreatedDt"
"Ticket Resolved Date" = "TicketResolvedDt"
"Ticket Total Time Spent" = "TicketTotalTimeSpent"
"Task Minutes Spent" = "TaskMinutesSpent"
"Created On" = "TaskCreatedDt_Legacy"
"Created Inc" = "TicketCreatedDt_Inc"
"Created SR" = "TicketCreatedDt_SR"
"Customer Inc." = "CustomerName_Inc"
"Customer SR" = "CustomerName_SR"
"Customer Name" = "CustomerName"

[sprint_columns]
column_order = [ "SprintNumber", "SprintName", "SprintStartDt", "SprintEndDt", "TaskNum", "TicketNum", "TicketType", "Section", "Status", "AssignedTo", "CustomerName", "Subject", "CustomerPriority", "DaysOpen", "TaskAssignedDt", "TaskCreatedDt", "TaskResolvedDt", "TicketCreatedDt", "TicketResolvedDt", "HoursEstimated", "DependencyOn", "DependenciesLead", "DependencySecured", "Comments", "TicketTotalTimeSpent", "TaskMinutesSpent",]

[team_members]
valid_team_members = [ "iibarraflores", "clee", "mkusumo", "mjimeno", "fsharifi", "creyes", "jskinta", "ansharma", "dxu", "dmaglinte", "hhakimjavadi", "rrene", "yapan", "dbuckley", "amarkowitz",]

[name_mapping]
iibarraflores = "Ibarraflores, Irvin"
clee = "Lee, Catherine"
mkusumo = "Kusumo, Marietta"
mjimeno = "Jimeno, Marilou"
fsharifi = "Sharifi, Fatemeh"
creyes = "Chavez, Claudia"
jskinta = "Skinta, John"
ansharma = "Sharma, Ankit"
dxu = "Xu, Dong"
dmaglinte = "Maglinte, Dennis"
hhakimjavadi = "Hakimjavadi, Hesam"
rrene = "Rene, Ryan"
yapan = "Pan, Yachen"
dbuckley = "Buckley, David"
amarkowitz = "Markowitz, Alex"
